@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans"),
    local("OpenSans"),
    local("Open-Sans"),
    local("Open_Sans");
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans Bold"),
    local("OpenSansBold"),
    local("Open-Sans-Bold"),
    local("Open_Sans_Bold");
  src:
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  transition: all 0.2s;
}
  
body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  font-style: normal;
  color: #444444;
  background-color: #ffffff;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list {
  display: grid;
  grid-gap: 40px;
  padding: 0;
  margin-bottom: 60px;
  list-style: none;
}

@media (min-width: 480px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1150px) {
  .list {
    grid-template-columns: repeat(6, 1fr);
  }
}

.list-item {
  position: relative;
  height: 200px;
}

.list-item-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.5);
}

.list-item:hover .list-item-wrapper,
.list-item:focus .list-item-wrapper {
  display: block;
}

.list-item:hover img,
.list-item:focus img {
  opacity: 0.3;
}

.list-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  color: #0beaf1;
}

.list-link:active {
  color: #05a7c4;
}
